<!-- <li>
</li> -->

<%= content_tag_for :li, link do %>
<%= link_to link.title, link.url, :id => "link_#{link.id}" %>
  <%= link_to "Upvote", :id => "link_#{link.id}"%>
  <%= link_to "Downvote" %>
<% end %>
